@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 100%;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: inline-block;
  font-family: sans-serif;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

section {
  background-color: #e2e2e2;
  vertical-align: middle;
  margin-top: -1.3em;
  text-align: center;
}

h1 {
  padding: 1em;
}

strong {
  padding: 1em;
  margin-bottom: -2em;
}

p {
  padding: 1em;
  margin-top: -1em;
}

.section-body {
  display: inline-block;
  width: 100%;

  text-align: left;
  vertical-align: middle;
}

.img-flex {
  width: 100%;
  display: block;
  margin-top: 1em;
  width: 100%;
  vertical-align: middle;
}

a {
  text-align: center;
  border-radius: 4px;
  background-color: #555;

}

.btn {
  color: #fff;
  padding: 0.5em 0.75em;
  text-decoration: none;
  margin-left: 1em;
}

.btn:hover {
  background-color: #000;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .img-flex {
    display: inline-block;
    width: 100%;
    max-width: 50%;
    margin-left: 16em;
    margin-top: -18em;
  }

  .section-body {
    display: inline-block;
    margin-right: 18em;
    margin-top: -1em;
    width: 100%;
    max-width: 50%;
    text-align: left;
    vertical-align: middle;
  }

  h1 {
    padding-bottom: 0;
    padding-left: 0.7em;
  }

  section {
    padding-top: 1em;
    padding-bottom: 2em;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .img-flex {
    display: inline-block;
    margin-top: 0;
    max-width: 50%;
    margin-top: -14em;
    margin-right: -7em;
  }

  .section-body {
    padding-left: 1em;
    margin-left: -7em;
    padding-top: 2em;
  }

  p,
  strong {
    padding: 1em;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

  .img-flex {
    margin-right: -18em;
    max-width: 25%;
    padding: 2em;
  }

  .section-body {
    padding-left: 1em;
    margin-left: 2em;
    margin-top: 0.5em;
    max-width: 45%;
  }

  section {
    padding-right: 1em;
  }

}
